@import 'base/mixins';
@import 'base/variables';

.default {
  background: white;
  color: $blueLight3;
}

.round {
  @include roundedBlock;
  line-height: 1rem;
}

.circle {
  @include circleBlock;
  font-size: $font-size-xlarge;
  line-height: 1;

  span {
    position: relative;
    top: -2px;
  }
}

.squareRounded {
  @include squareRoundedBlock;
  line-height: 1rem;
}

.blue {
  composes: default;
  @include blueBackground;

  color: white;
}

.red {
  composes: default;
  @include redBackground;

  color: white;
}

.transparent {
  composes: default;
  @include transparentBackground;

  color: white;
}

.lightBlueGradient {
  composes: default;
  background-image: radial-gradient(90% 210% at 0 50%, #0085CF 0%, #00E0F2 100%);
  color: white;
}
