@import 'base/variables';
@import 'base/colors';

.container {
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding: $base-grid-gutter;
  background: $blueDark3;
  margin-left: -$base-grid-gutter;
}

.link {
  opacity: 0.5;

  &:hover {
    opacity: 1.0;
  }
}
.activeLink {
  opacity: 1.0;
}
.navElement {
  text-align: center;
}
