@import 'base/colors';
@import 'base/variables';

$barWidth: 40px;

.insightBarContainer {
  width: 60px;
  overflow: auto;
  text-align: center;
  float: left;

  &.active {
    .bar {
      opacity: 1;
    }
  }
}

.barContainer {
  cursor: pointer;
  position: relative;
  height: 100%;
  width: $barWidth;
  margin: 0 auto;
}

.bar {
  opacity: 0.4;
  position: absolute;
  width: $barWidth;
}

.topBar {
  @extend .bar;
  top: 0;
  background: $blueLight2;
  border-top-left-radius: $barWidth/2;
  border-top-right-radius: $barWidth/2;
}
.bottomBar {
  @extend .bar;
  bottom: 0;
  background: $blueDark;
  border-bottom-left-radius: $barWidth/2;
  border-bottom-right-radius: $barWidth/2;
}

.label {
  text-transform: uppercase;
  margin-top: $base-grid-gutter*2;
  font-weight: bold;
}
