@import 'base/mixins';
@import 'base/variables';

h2.accountName {
  margin-top: 0;
  margin-bottom: 0;
}

.category {
  @include squareRoundedBlock;
  @include transparentBlueBackground;
  margin-bottom: $base-grid-gutter/4;

  &:hover {
    @include moreTransparentBlueBackground;
  }
}

.attribute {
  margin-bottom: $base-grid-gutter;
}
.attributeValue {
  font-size: $font-size-xlarge;
  line-height: 1;
}
