@import 'base/mixins';
@import 'base/variables';

.accountName {
  margin-top: 0;
  margin-bottom: 0;
}

.category {
  @include squareRoundedBlock;
  @include transparentBlueBackground;
  margin-bottom: $base-grid-gutter/4;

  &:hover {
    @include moreTransparentBlueBackground;
  }
}
