@import 'base/mixins';
@import 'base/variables';

.button {
  @include circleBlock;
  @include transparentBackground;
  display: inline-block;
  z-index: 10;
  line-height: 1rem;

  img {
    position: relative;
    top: 1.3rem;
    left: 1.5rem;
  }
}
