@import 'base/mixins';
@import 'base/variables';

.categoryItem {
  @include roundedBlock;
  @include transparentBlueBackground;

  margin-bottom: $base-grid-gutter/4;
  padding-left: 4rem;
  padding-right: 4rem;
  color: white;
  cursor: pointer;

  &.parentCategory {
    font-weight: bold;
  }

  &:hover {
    @include moreTransparentBlueBackground;
  }
}
