@import 'base/variables';
@import 'base/colors';

.mainStats {
  margin-bottom: $base-grid-gutter*2;
}
.amountTitle {
  font-weight: 300;
}
.amountData {
  font-size: $font-size-mlarge;
  font-weight: 500;
  line-height: 1;
}

.totalBalance {
  color: white;
}
.totalIncome {
  color: $blueLight2;
}
.totalExpense {
  color: $blueDark;
}
