@import 'base/variables';
@import 'base/colors';

.mainStats {
  margin-bottom: $base-grid-gutter*2;
}
.amountTitle {
  font-size: $font-size-normal;
}
.amountData {
  font-size: $font-size-large;
}

.totalBalance {
  color: white;
}
.totalIncome {
  color: $blueLight2;
}
.totalExpense {
  color: $blueDark;
}
