@import 'base/variables';

.graphsMainContainer {
  overflow: hidden;
  margin-bottom: $base-grid-gutter;
}
.graphsContainer {
  margin-right: 50%;
  position: absolute;
  overflow: auto;
  transition: all 0.2s ease;
}
