@import 'base/mixins';
@import 'base/variables';
@import 'base/colors';

.transactionList {
  list-style: none;
  margin: 0;
}
.transaction {
  @include squareRoundedBlock;
  @include transparentBlueBackground;
  margin-bottom: $base-grid-gutter/4;
}
.transactionCategory {
  font-size: $font-size-small;
  color: $green;
}
