@import 'base/variables';
@import 'base/mixins';

.inputBlock {
  @include inputBlock;
}

.inputContainer {
  @include blockDisplaced;
}

.input {
  @include squareRoundedBlock;
  @include transparentBackground;
  margin-bottom: $base-grid-gutter/4;
  color: white;

  &::placeholder {
    color: white;
  }

  &:disabled {
    background: transparent;
    border: 1px solid transparentize(white, 0.5);
    padding-top: 1.65rem;
    padding-bottom: 1.65rem;
    -webkit-text-fill-color: white;
    -webkit-opacity: 1;
  }
}
