@import 'base/variables';
@import 'base/mixins';

.input {
  @include roundedBlock;
  @include transparentBlueBackground;
  margin-bottom: $base-grid-gutter/4;
  color: white;

  &::placeholder {
    color: white;
  }

  &:disabled {
    background: transparent;
    border: 1px solid transparentize(white, 0.5);
  }
}
