$blueDark: #001A49;
$blueDark2: #152235;
$blueDark3: #001734;
$blueLight: #8AC5E3;
$blueLight2: #6CF3FF;
$blueLight3: #007084;

$gray: #555555;
$grayLight: #AAA;

$green: #00D0CC;

$red: #E2584A;

$white: white;
$transparentWhite: transparentize($white, 0.5);
