.roundedBlock {
  border: none;
  width: 100%;
  border-radius: 50px;
  padding: 2.8rem 2.8rem;
}

.circleType {
  border: 1px solid;
  border-radius: 0.8em;
  display: inline-block;
  line-height: 1.6em;
  text-align: center;
  width: 1.6em;
}
