@import 'base/colors';

@mixin blueBackground {
  background: transparentize($blueDark,
  0.5);
}

@mixin redBackground {
  background: $red;
}

@mixin transparentBackground {
  background: transparentize(black,
  0.8);
}
@mixin transparentBackground2 {
  background: transparentize(black,
  0.9);
}
@mixin transparentBackground3 {
  background: transparentize(black,
  0.95);
}

$gradientTransparentDarkBlue: rgba(0,23,52,0.15);
$gradientTransparentLightBlue: rgba(1,184,204,0.15);
$gradientMoreTransparentDarkBlue: rgba(0,23,52,0.08);
$gradientMoreTransparentLightBlue: rgba(1,184,204,0.08);

@mixin transparentBlueBackground {
  background: gradientTransparentLightBlue;
  background: -moz-linear-gradient(45deg, $gradientTransparentDarkBlue -10%, $gradientTransparentLightBlue 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(-10%, $gradientTransparentDarkBlue), color-stop(100%, $gradientTransparentLightBlue));
  background: -webkit-linear-gradient(45deg, $gradientTransparentDarkBlue -10%, $gradientTransparentLightBlue 100%);
  background: -o-linear-gradient(45deg, $gradientTransparentDarkBlue -10%, $gradientTransparentLightBlue 100%);
  background: -ms-linear-gradient(45deg, $gradientTransparentDarkBlue -10%, $gradientTransparentLightBlue 100%);
  background: linear-gradient(45deg, $gradientTransparentDarkBlue -10%, $gradientTransparentLightBlue 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01b8cc', endColorstr='#001734', GradientType=1 );
}

@mixin moreTransparentBlueBackground {
  background: $gradientMoreTransparentLightBlue;
  background: -moz-linear-gradient(45deg, $gradientMoreTransparentDarkBlue -10%, $gradientMoreTransparentLightBlue 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(-10%, $gradientMoreTransparentDarkBlue), color-stop(100%, $gradientMoreTransparentLightBlue));
  background: -webkit-linear-gradient(45deg, $gradientMoreTransparentDarkBlue -10%, $gradientMoreTransparentLightBlue 100%);
  background: -o-linear-gradient(45deg, $gradientMoreTransparentDarkBlue -10%, $gradientMoreTransparentLightBlue 100%);
  background: -ms-linear-gradient(45deg, $gradientMoreTransparentDarkBlue -10%, $gradientMoreTransparentLightBlue 100%);
  background: linear-gradient(45deg, $gradientMoreTransparentDarkBlue -10%, $gradientMoreTransparentLightBlue 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01b8cc', endColorstr='#001734', GradientType=1 );
}

@mixin roundedBlock {
  border: none;
  width: 100%;
  border-radius: 50px;
  padding: 1.75rem 2.5rem;
}

@mixin circleBlock {
  border: none;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}

@mixin squareRoundedBlock {
  @include roundedBlock;
  border-radius: 15px;
}

@mixin blockDisplaced {
  margin-left: -10px;
  margin-right: -10px;
  width: auto;
  min-width: 100%;
}

@mixin inputBlock {
  @include blockDisplaced;
  margin-bottom: $base-grid-gutter/2;

  label {
    text-align: left;
    font-size: $font-size-small;
    font-weight: 300;
  }
}
