@import 'base/colors';

@mixin blueBackground {
  background: transparentize($blueDark, 0.5);
}

@mixin transparentBackground {
  background: transparentize(white, 0.5);
}

@mixin transparentBlueBackground {
  background: transparentize($blueDark2, 0.8);
}

@mixin roundedBlock {
  border: none;
  width: 100%;
  border-radius: 50px;
  padding: 2.4rem 2.4rem;
}

@mixin circleBlock {
  border: none;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

@mixin squareRoundedBlock {
  @include roundedBlock;
  border-radius: 15px;
}
