//  Layout

$base-grid-gutter: 20px;
$main-container-max-width:  768px;

// Typography

$font-size-normal: 1.6rem;
$font-size-small: 1.4rem;
$font-size-large: 2rem;
$font-size-slarge: 2.4rem;
$font-size-mlarge: 2.8rem;
$font-size-xlarge: 3.2rem;

$font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$font-family-thin: 'HelveticaNeue-Thin', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
