@import 'base/colors';
@import 'base/variables';

html, body {
  height: 100%;
  background: rgb(0, 130, 153);
}

body {
  color: white;
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  small {
    color: $blueLight;
    font-size: $font-size-small;
  }
}

h1, h2 {
  font-size: $font-size-xlarge;
}

a {
  color: white;
  cursor: pointer;

  &:hover {
    color: white;
  }
}

hr {
  border-color: transparentize($gray, 0.8);
}

label {
  width: 100%;
  font-size: 2rem;
}
