@import 'base/colors';
@import 'base/variables';

html, body {
  height: 100%;
  background-color: #001734;
  // background-image: radial-gradient(farthest-corner at top 10% right 35%, #01B8CC 0%, #001734 100%);
  // background-image: url(assets/images/bg.svg);
  // background-repeat: no-repeat;
  // background-attachment: fixed;

}

body {
  color: white;
  font-size: 1.6rem;
  font-family: $font-family;
}

h1, h2, h3, h4, h5, h6 {
  small {
    color: $blueLight;
    font-size: $font-size-small;
  }
}

h1, h2 {
  font-size: $font-size-xlarge;
}

a {
  color: white;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: white;
  }
}

ul {
  list-style: none;
}

hr {
  border-color: transparentize($gray, 0.8);
  margin-left: -2.5rem;
  margin-right: -2.5rem;
}

label {
  width: 100%;
  font-size: 2rem;
}

input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
