@import 'base/variables';

// Helpers for flexboxgrid system
// These work for Grid, Row, Col unless stated

.fullHeight {
  min-height: 100%;
}

.fullWidth {
  width: 100%;
  min-width: 100%;
}

.mainGrid {
  @extend .fullHeight;

  padding-bottom: $base-grid-gutter*2;
}

.basePadding {
  padding-top: $base-grid-gutter*2;
}

.emptyHeader {
  padding-top: $base-grid-gutter*6;
}

.withBottomNav {
  padding-bottom: $base-grid-gutter*6;
}
